/a.exe
/ab.c
/acm.c
/acmhoc.c
/areacircle.c
/areatri.c
/areatriangle.c
/armstrongno.c
/array.c
/arraysum.c
/assign2.c
/calculator.c
/calculatorswi.c
/calculatorswi.exe
/chartoascii.c
/dowswitch.c
/fibonacciser.c
/file.c
/grade.c
/gradestuswi.c
/grtstno.c
/hackerrank
/hckerrnk.c
/hello.c
/hlfpyrmid.c
/homework.c
/homework.exe
/invpyrmid.c
/leapyr.c
/loops.c
/multiplicationtble.c
/nrml.c
/num.c
/palindrome.c
/papa.c
/papa.exe
/patternprinting.c
/prac 7.c
/prac11.c
/prac11.exe
/prac6.1a
/prac6.1a.c
/prac6.1b
/prac6.1b.c
/prac6.1c
/prac6.1c.c
/prac6.1combined
/prac6.1combined.c
/prac6combined.c
/prac7.a
/pract.c
/practical10.1
/practical10.1.c
/practical7.1
/practical7.1.c
/practical7.2
/practical7.2.c
/practical7.3
/practical7.3.c
/practical8.1
/practical8.1.c
/practical8.1c
/practical8.2
/practical8.2.c
/practical8.3
/practical8.3.c
/practical9.2
/practical9.2.c
/practicl7.c
/practicl7inclss.c
/prct6c.c
/prct6c.exe
/prctical6a.c
/prime.c
/prpc6b.c
/pyrmid.c
/rectangle.c
/rvrse.c
/si.c
/statr printing
/string.c
/sum.c
/test.c
/test.exe
/uppercse.c